{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>HyperNews</title>
<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<h2>Hyper news</h2>
<body>

<form action="/news/" method="get"> {% csrf_token %}
    <label for="keyword">Search:</label>
    <input type="text" name="q" id="keyword" placeholder="Words..">
</form>

<h3>Found news</h3>

{% for articles in articles_dict %}
    <h4>{{articles.created}}</h4>

    <ul>
    {% for article in articles.news %}
      <li><a target="_blank" href="/news/{{article.link}}/">{{article.title}}</a></li>
    {% endfor %}
    </ul>
{% endfor %}

<a target="_blank" href="/news/create/">Create</a>
</body>
</html>